@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Khalel Abaquin
   Date:   10.26.18

   Filename:         pcg_paper.css
   Supporting Files: 

*/

/* UNFINISHED */

 /* Main */

/* This block of code styles the entire webpage, background color, height, width & such. */

html {
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(43, 71, 131); */
    background-color: rgb(29, 44, 78);
}

body {
    margin: auto;
    max-width: 960px;
    min-width: 640px;
    width: 80%;
    height: 100%;
    background-color: rgb(103, 103, 128);
}
 
/* Content */

/* This section styles all of the divs, headings, & the content within the div elements. */

div {
    color: rgb(26, 42, 78);
}

h1 {
    font-size: 4em;
    text-align: center;
    font-family: cursive;
}

h2 {
    margin: auto;
    color: rgb(14, 25, 46);
}

div {
    margin: 2em;
    font-size: 1.1em;
}

div#story1 {
    display: block;
    float: left;
    width: 50%;
    padding-left: 2em;
}

div#story1::after {
    clear: both;
    content: “”;
    display: table;
}

div#story2 {
    display: block;
    float: left;
    width: 50%;
    padding-left: 2em;
}

div#story2::after {
    clear: both;
    content: “”;
    display: table;
}

div#story3 {
    display: block;
    float: right;
    width: 50%;
    padding-right: 2em;
}

div#story3::after {
    clear: both;
    content: “”;
    display: table;
}

/* div#story3 {
    display: block;
    height: 50%;
    width: 50%;
    padding-right: 2em;
}

div#story3::after {
    clear: both;
    content: "";
    display: table;
} */


div#story4 {
    margin-left: auto;
    margin-right: auto;
}

div#story4::after {
    clear: both;
    content: “”;
    display: table;
}

div#story4 h2::after {
    float: left;
    clear: both;
    content: “”;
    display: table;

}

/* Nav Bars */

/* This part of the code takes care of styling the top navigation bar & its links. */

nav ul li a {
    text-decoration: none;
    color: beige;
}

nav ul li {
    list-style: none;
}

/* nav.verticalNavigation>ul.left {
    margin-right: 100px;
} */

/* Footer */

/* This block of code styles the two footers, one has four separate navigation bars & the other is the normal footer. */

nav#horizontalNavigation ul li {
    display: block;
    float: left;
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
    text-align: center;
}

nav#horizontalNavigation ul li:hover {
    background-color: rgb(90, 85, 85);
}

nav.verticalNavigation {
    display: block;
    width: 80%;
    float: right;
}

nav.verticalNavigation>ul.right {
    float: right;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer#nav nav ul li a:hover {
    color: rgb(146, 133, 114);
}

footer#bottom {
    text-align: center;
    color: beige;
    padding: 1.5px;
    background-color: rgb(66, 85, 128);
    clear: both;
}

footer#nav {
    line-height: 1.7em;
    float: left;
    /* clear: left; */
    background-color: rgb(103, 103, 128);
}

footer#nav::after {
    clear: both;
    content: "";
    display: table;
}


/* ul.right {
    float: right;
} */

/* ul.right::after {
    clear: both;
    content: “”;
    display: table;
} */

/* footer>nav#nav {
    float: left;
    width: 22%;
} */
