@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Khalel Abaquin
   Date:   10.26.18

   Filename:         pcg_paper.css
   Supporting Files: 

*/

html {
    margin-left: auto;
    margin-right: auto;

    /* background-color: rgb(43, 71, 131); */
    background-color: rgb(29, 44, 78);
}

body {
    margin: auto;
    max-width: 960px;
    min-width: 640px;
    width: 80%;
    height: 100%;
    background-color: rgb(103, 103, 128);
}

div {
    color: rgb(26, 42, 78);
}

h2 {
    margin: auto;
    color: rgb(14, 25, 46);
}

div {
    margin: 2em;
    font-size: 1.1em;
}

div#story1 {
    display: block;
    float: left;
    width: 50%;
    padding-left: 2em;
}

div#story1::after {
    clear: both;
    content: “”;
    display: table;
}

div#story2 {
    display: block;
    float: left;
    width: 50%;
    padding-left: 2em;
}

div#story2::after {
    clear: both;
    content: “”;
    display: table;
}

div#story3 {
    display: block;
    float: right;
    width: 50%;
    padding-right: 2em;
}

div#story3::after {
    clear: both;
    content: “”;
    display: table;
}

/* div#story3 {
    display: block;
    height: 50%;
    width: 50%;
    padding-right: 2em;
}

div#story3::after {
    clear: both;
    content: "";
    display: table;
} */


div#story4 {
    margin-left: auto;
    margin-right: auto;
}

div#story4::after {
    clear: both;
    content: “”;
    display: table;
}

div#story4 h2::after {
    float: left;
    clear: both;
    content: “”;
    display: table;

}

nav ul li a {
    text-decoration: none;
    color: beige;
}

footer#nav nav ul li a:hover {
    color: rgb(146, 133, 114);
}

nav ul li {
    list-style: none;
}

nav.verticalNavigation {
    display: block;
    width: 80%;
    float: right;
    /* clear: both; */
}

nav#horizontalNavigation ul li {
    display: block;
    float: left;
    width: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
    text-align: center;
}

nav#horizontalNavigation ul li:hover {
    background-color: rgb(90, 85, 85);
}


h1 {
    font-size: 4em;
    text-align: center;
    font-family: cursive;
}

/* footer#bottom {
    text-align: center;
    color: beige;
    padding: 1.5px;
    background-color: rgb(58, 75, 112);
}

footer#nav {
    line-height: 1.5em;
    float: left;
} */

footer {
    clear: left;
    background-color: rgb(71, 52, 29);
}

footer::after {
    clear: both;
    content: "";
    display: table;
}

footer>nav#nav {
    float: left;
    width: 22%;
}

footer>section#contactInfo {
    float: left;
    width: 34%;
}